<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">
    <servlet>
        <servlet-name>GuessServlet</servlet-name>
        <servlet-class>GuessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuessServlet</servlet-name>
        <url-pattern>/GuessServlet</url-pattern>
    </servlet-mapping>
</web-app>
